<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>monnie-pap</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

<h1>BLOG</h1>
<h3>WHAT WE DO</h3>
<br>
<p>We as the monnie-pap company we are commited to empowering young people mainly in financial support.
    many youth faces a lot of challenges especially when they are developing their ambitious and promising projects.
</p>
<h5>mission</h5>
<br>
<p class="card">Our mission as monnie-pap is to support the youth fully when developing developing their projects and give
    them loans which is being repayed with small amount of interest.</p>
<h5>vision</h5>

<p>As currently we are only able to support our youth financially but we are aiming to walk with them from start to the end in every step
    of the way hence ensuring dreams of our youth are coming to live.</p>
<h4>TEAM</h4>
<ul>
   <li>Joseph okoth</li>
    <li>Eveline nyarang'o</li>
    <li>Lucy karimi</li>
    <li>John mariga</li>
    <li>Francis mbugua</li>
</ul>

</body>
</html>